@import '~bootstrap/scss/bootstrap';

header{
  height: 70px;
  background-color: #212529;
  nav{
    background-color: #212529;
  }
}

aside{
  width: 250px;
  background-color: lighten($color: #212529, $amount: 5%);
  ul{
    list-style: none;
    li{
      margin-bottom: 15px;
      a{
        text-decoration: none;
        color: white;
        font-size: 1rem;
        transition: all .3s;
        &:hover{
          text-shadow: 0 0 20px darken($color: white, $amount: 10%);
          color: darken($color: white, $amount: 10%);
        }
      }
    }
  }
}

main{
  height: calc(100vh - 70px);
}
